# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import dataset
pokemon = pd.read_csv('Pokemon.csv')

#### Print first 10 rows of `pokemon`.

In [3]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [17]:
# your code here
arr = pokemon[['Type 1','Type 2']]
arr

      Type 1  Type 2
0      Grass  Poison
1      Grass  Poison
2      Grass  Poison
3      Grass  Poison
4       Fire     NaN
..       ...     ...
795     Rock   Fairy
796     Rock   Fairy
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[800 rows x 2 columns]

In [24]:
arr.drop_duplicates()

      Type 1  Type 2
0      Grass  Poison
4       Fire     NaN
6       Fire  Flying
7       Fire  Dragon
9      Water     NaN
..       ...     ...
778    Ghost   Grass
790   Flying  Dragon
797  Psychic   Ghost
798  Psychic    Dark
799     Fire   Water

[154 rows x 2 columns]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [28]:
import re

In [45]:
# your code here
#re.sub('Mega','',pokemon['Name'])

In [ ]:
# test transformed data
#pokemon.head(10)

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [50]:
# your code here
pokemon["A/DRatio"] = pokemon["Attack"]/pokemon["Defense"]

In [49]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/DRatio
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,0.666667
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,1.454545
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,1.833333
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,2.666667
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,0.916667

#### Identify the pokemon with the highest `A/D Ratio`.

In [42]:
# your code here
pokemon['A/DRatio'].max()

9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [51]:
# your code here
pokemon['A/DRatio'].min()

0.043478260869565216

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [65]:
# your code here
#Method 1
pokemon['Combo Type'] = pokemon['Type 1'].map(str) + ' ' + pokemon['Type 2'].map(str)
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/DRatio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire nan

In [66]:
# your code here
# Method 2
pokemon["Combo Type"] = pokemon["Type 1"] + pokemon["Type 2"]
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/DRatio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,GrassPoison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,GrassPoison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,GrassPoison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,GrassPoison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [81]:
# your code here
pokemon.groupby(by=['Name']).max()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/DRatio,Combo Type
Name,,,,,,,,,,,,,,
Abomasnow,460,Grass,Ice,494,90,92,75,92,85,60,4,False,1.226667,GrassIce
AbomasnowMega Abomasnow,460,Grass,Ice,594,90,132,105,132,105,30,4,False,1.257143,GrassIce
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False,1.333333,NaN
Absol,359,Dark,NaN,465,65,130,60,75,60,75,3,False,2.166667,NaN
AbsolMega Absol,359,Dark,NaN,565,65,150,60,115,60,115,3,False,2.500000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,Dark,NaN,510,60,105,60,120,60,105,5,False,1.750000,NaN
Zorua,570,Dark,NaN,330,40,65,40,80,40,65,5,False,1.625000,NaN
Zubat,41,Poison,Flying,245,40,45,35,30,40,55,1,False,1.285714,PoisonFlying
Zweilous,634,Dark,Dragon,420,72,85,70,65,70,58,5,False,1.214286,DarkDragon
Zygarde50% Forme,718,Dragon,Ground,600,108,100,121,81,95,95,6,True,0.826446,DragonGround

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [ ]:
# your code here

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [ ]:
# your code here